node_modules/
package-lock.json
client/node_modules/
client/package-lock.json
client/.cache/
client/dist/
client/.vscode/
client/data/realResume.json
server/node_modules
server/package-lock.json
server/.vscode/
